exportPattern("^[[:alpha:]]+")
importFrom( splines, ns, bs,spline.des )
importFrom( survival, survfit , Surv)
importFrom( Epi,splitLexis,Lexis,status,timeBand)
importFrom("graphics", "lines", "plot","polygon")
importFrom("stats", "aggregate", "dpois", "model.frame","model.matrix", "model.response", "qnorm", "var")
S3method(print, bshazard)
S3method(lines, bshazard)
S3method(plot, bshazard)
S3method(summary, bshazard)
S3method(bshazard,default)